@import "../../stylebase/variables.scss";

.projectos__textoSpace {
  padding-top: 5rem;
  @include paddingb_marginb(3rem, 5rem);
  min-height: 50vh;
  min-width: 50vh;
  display: block;
  border: 0.1rem solid $color--gris--oscuro;
  box-shadow: 5px 5px $color--azul--claro;
  transition: transform 1s, z-index 1s, border-color 1s;
  &:hover {
    transform: scale(1.08);
    z-index: 2;
    border-color: $color--azul--oscuro--header;
  }
  @media (min-width: 768px) {
    @include padding_margin(1rem 1rem 1rem 1rem, 3rem 1rem 3rem 1rem);

    height: 15rem;
  }
}

.project__text {
  padding: 1rem 0 1rem 0;
  font-size: map-get($font-sizes, normalsize);
  font-style: italic;
  color: $color--gris--oscuro;
}
